.mainContainer {
  max-width: 100%;

  text-align: center;
  padding: 2rem;
}

.BagHeading {
  font-size: 3rem;
}

.BagContainer {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-between;

  border: 0.5px solid rgb(71, 71, 71);
}
.firstContainer {
  height: 100%;
  width: 60%;
}

.secondContainer {
  height: 100%;
  width: 40%;
}
