.leftContainer {
  width: 35vw;
  height: 80vh;
  background: #fdf7ff;
  color: black;

  padding-top: 40px;
  background: #fdf7ff;

  max-width: 100%;
  overflow: auto;
  float: left;
}

.leftContainer h1 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #9d88af;
  margin-bottom: 10px;
  padding-left: 60px;
}

.leftContainer h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  color: #21062e;
  padding-left: 60px;
}

.leftContainer ul li {
  text-transform: uppercase;
  list-style: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 20px 60px;
  display: flex;
  align-items: center;

  color: #21062e;
  border-bottom: 2px solid #463254;
}

.leftContainer ul {
  padding-left: 0;
}

.leftContainer ul li .icon {
  font-size: x-large;

  padding-right: 2rem;
}
