.imgContainer {
  width: 100%;
  height: 65vh;
  background-color: white;
}
.img {
  width: 100%;
  height: 100%;
}

.nameContainer {
  display: flex;

  justify-content: space-between;
}

.name {
  padding: 20px;

  font-size: 15px;
}

.icon {
  padding: 20px;
  padding-top: 15px;
}
