.HeroContainer {
  margin-top: 60px;
}

.Caption1 {
  position: relative;
  left: 600px;
  color: white;
  font-size: 30px;
  font-weight: 3;
}

.Caption2 {
  position: relative;
  left: 530px;
  top: 40px;
  color: white;
  font-size: 30px;
  font-weight: 3;
}

.Sales {
  height: 10vh;
  background-color: white;
}
