.NavContainer {
  border-bottom: 1px solid rgb(81, 80, 80);
}

.nav {
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: #9d88af;
  padding: 20px;
}

.imgContainer {
  width: 80px;
  height: 40px;
}

.img {
  width: 100%;
  height: 100%;
}

.NavContainer .hiddenButtons {
  background: transparent;
  border: none;
  display: none;
}

.navlinks .plusButton {
  color: #9d88af;
  font-size: small;

  background: transparent;
  border: none;
  cursor: pointer;
}

.NavContainer .icons {
  color: white;
  font-size: large;
}
.Hamburger {
  color: white;
}

.AllProductsContainer {
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px solid rgb(109, 108, 108);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.AllProductsContainer span {
  font-size: 2rem;
  color: rgb(211, 206, 206);
  padding-left: 2rem;
}
.AllProductsContainer ul {
  list-style: none;
}
.AllProductsContainer ul li {
  padding: 1rem;
}

#hideProducts {
  display: none;
}
@media only screen and (max-width: 950px) {
  .NavContainer .hiddenButtons {
    display: contents;
    cursor: pointer;
  }

  .icons {
    cursor: pointer;
  }

  .navlinks {
    display: none;
  }

  #show {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b1e34;

    font-size: 2.5rem;
  }
}
